@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

.MuiTableHead-root .MuiTableCell-root {
  padding: 0px !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 800 !important;
  font-size: smaller;
}
.MuiTable-root .MuiTableBody-root .MuiTableRow-root .MuiTableCell-root {
  padding: 0px 0px 0px 0px !important;
  font-family: "Montserrat", sans-serif;
}
/* .MuiTable-root .MuiTableBody-root .MuiTableRow-root {
  max-height: 10px !important;
} */
/* .MuiTableCell-sizeSmall {
  padding: 15px !important;
} */

/* td {
  border: 1px solid rgb(224, 218, 218);
}

th {
  border-right: 1px solid rgb(224, 218, 218);
} */

/* tr {
  max-height: 10px !important;
} */

@media (min-width: 600px) {
  .header {
    min-height: 45px !important;
    background-color: rgb(0, 103, 134);
  }
}

table {
  height: 740px;
}

html {
  background-color: rgb(238, 238, 238);
}
.App {
  background-color: rgb(238, 238, 238);
}

.select {
  width: 120px;
}

.month0 {
  background-color: azure;
}

.month1 {
  background-color: aliceblue;
}

.month2 {
  background-color: honeydew;
}

.month3 {
  background-color: snow;
}
